<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	tmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:fragment="nav">

		<nav class="navbar navbar-expand-sm navbar-light" style="background: #2a2730;">
			<div class="logo" style="text-align: center;">
				<img  src= "https://theme.hstatic.net/1000341630/1000790868/14/logo.png?v=173 " width="60">
			</div>
			<div class="menu">
				<li><a th:href="@{/TrangChu}">TRANG CHỦ</a></li>
				<li><a th:href="@{/TrangChu/Shop}">SẢN PHẨM ĐÃ THÊM </a>
					<ul class="sub-menu">
						<li>
							
							<a href="#">ÁO</a>
							<a href="#">Phụ Kiện</a>
							<a th:href="@{/TrangChu/giay}">Giày</a>
						</li>
					</ul>

				</li>
				<li><a th:href="@{/TrangChu/sale}"> Sale</a></li>
				<li><a th:href="@{/TrangChu/CartItem}"> Shopping Cart</a></li>
				<li><a th:href="@{/TrangChu/about}"> About Us</a></li>
				<li><a th:href="@{/TrangChu/info}"> User</a>
					<ul class="sub-menu">
						<li>
							
							<a th:href="@{/TrangChu/change}">Change Password</a>
							<a th:href="@{/TrangChu/forgot}">Forgot Password</a>
							<a th:href="@{/TrangChu/regis}">Registration</a>
						</li>
					</ul>
				</li>

			</div>
			<div class="others">

				<li><input placeholder="Tiềm kiếm" type="text"></li>
				<li><i class="fas fa-paw"></i></li>
				<li><a th:href="@{/alogin}"><i class="fas fa-user"></i></a></li>
				
				</li>
				<div class="cart-icon">
					<p>
						<a href="#"><label for="CartShop"><i class="fas fa-shopping-cart"></i></label>
							<sup></sup></a></a>
					</p>
				</div>
			</div>
			
			<!-- <button class="navbar-toggler d-lg-none" type="button"
				data-toggle="collapse" data-target="#collapsibleNavId"
				aria-controls="collapsibleNavId" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/admin/index}">Home Shop <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Manage
							Customer</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/categories/search}">Manage Category</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/products}">Manage Product</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Manage
							Order</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/accounts}">Manage Profile</a></li>

				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div> -->
		</nav>

	</div>
	
</body>
</html>