 *{
    margin: 0;/* cÄƒn lá»� trÃªn ,trÃªn pháº£i dÆ°á»›i trÃ¡i */
    padding: 0 /* ThÃªm khoáº£ng khÃ´ng trÃªn pháº£i dÆ°á»›i trÃ¡i  */;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;/*  kiá»ƒu chá»¯ */
}
li{
    list-style: none;  /*Thuá»™c tÃ­nh list-style thiáº¿t láº­p kiá»ƒu cho má»™t danh sÃ¡ch.
                       ChÃº Ã½: thuá»™c tÃ­nh list-style chá»‰ sá»­ dá»¥ng Ä‘Æ°á»£c cho danh sÃ¡ch (nhá»¯ng thÃ nh pháº§n chá»©a <li>): <ol>, <ul>, <menu>*/
}
a{
    text-decoration: none;/* gáº¡ch*/

    color: #fff;
}
header{
    display: flex;/* xÃ¡c Ä‘á»‹nh loáº¡i hiá»ƒn thá»‹ cá»§a thÃ nh pháº§n.*/   
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: #2a2730;
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;


}
.menu li {
    padding: 0 12px;
    position: relative;
    
}
.menu>li:hover .sub-menu{
    visibility: visible;
    top: 50px;
}
.sub-menu{
    position: absolute;
    width: 120px;
    
    padding: 5px 0 5px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index:9999;
    background-color: #2a2730;
}
.sub-menu ul{
    padding-left: 20px;
}
.sub-menu ul a {
    font-weight: normal;
    font-size: 10px;
}
.menu li a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 15px 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight:bold;
    position: relative;
  
}

.menu li a::after{
    content: "";
    height: 5px;
    width: 0px;
    background: tomato;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.5s ease-in-out;
    
}
.menu li a:hover::after{
    width: 50%;
    transform:  translate(100%);
    

}

.menu>li:hover>a{
    color: orange;
}
.others{
    flex: 1;
    display: flex;
}
.others>li{
    padding: 0 12px;
}
.others>li:first-child{
    position: relative;
}
.others>li:first-child input{
    width: 100%;  
    border: none;
    border-bottom: 1px solid #333;

}
.others>li:first-child i{
    position: absolute;
    right: 10px;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    height: 100px;
}
.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.1s;
}
.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px ;
    cursor: pointer;

}
.dot-active{
    background-color: #333;
}
.prose h3 {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(243 244 246);

    /* @apply mb-1 pb-2 border-b border-gray-200; */
  }

  .prose iframe {
    width: 100%;
    margin-top: 1.5rem;
    aspect-ratio: 16 / 9;
    border-radius: 0.75rem;

    /* @apply w-full aspect-video mt-6 rounded-xl; */
  }
