<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	tmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:fragment="nav">

		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="logo" style="text-align: center;">
				<img  src= "https://theme.hstatic.net/1000341630/1000790868/14/logo.png?v=173 " width="60">
			</div>
			<div class="menu">
				<li><a th:href="@{/admin/index}">Home</a></li>
				<li><a th:href="@{/admin/categories/search}">Manage
						Categories </a></li>
				<li><a th:href="@{/admin/products}">Manage Products</a></li>
				<li><a th:href="@{/admin/accounts}">Manage Account</a></li>
				<li><a th:href="@{/site/customers/cus}">Manage Customer</a></li>
				
			</div>
			<div class="others">

				<li><input placeholder="Tiềm kiếm" type="text"><i
					class="fas fa-search"></i></li>
				<li><i class="fas fa-paw"></i></li>
				<li><a th:href="@{/alogin}"><i class="fas fa-user"></i></a></li>
			</div>
			<!-- <button class="navbar-toggler d-lg-none" type="button"
				data-toggle="collapse" data-target="#collapsibleNavId"
				aria-controls="collapsibleNavId" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/admin/index}">Home Shop <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Manage
							Customer</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/categories/search}">Manage Category</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/products}">Manage Product</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Manage
							Order</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/accounts}">Manage Profile</a></li>

				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div> -->
		</nav>

	</div>
</body>
</html>